In [23]:
import numpy as np
import pandas as pd
from pandas import read_csv
import matplotlib.pyplot as plt
%matplotlib inline


data_series = read_csv('covid_19_data.csv', header=0, parse_dates=['ObservationDate'])

In [24]:
data_series

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
15126,15127,2020-04-14,Wyoming,US,2020-04-14 23:41:11,282.0,1.0,0.0
15127,15128,2020-04-14,Xinjiang,Mainland China,2020-04-14 23:41:11,76.0,3.0,73.0
15128,15129,2020-04-14,Yukon,Canada,2020-04-14 23:41:11,8.0,0.0,0.0
15129,15130,2020-04-14,Yunnan,Mainland China,2020-04-14 23:41:11,184.0,2.0,175.0
15130,15131,2020-04-14,Zhejiang,Mainland China,2020-04-14 23:41:11,1267.0,1.0,1242.0

In [25]:
dataframe = pd.DataFrame(data_series)

In [26]:
countries_data = dataframe.filter(['ObservationDate', 'Country/Region', 'Confirmed'])

In [27]:
countries_data_pl = countries_data[ countries_data['Country/Region'] == 'Poland']
countries_data_it = countries_data[ countries_data['Country/Region'] == 'Italy']

In [28]:
countries_data_pl

      ObservationDate Country/Region  Confirmed
3372       2020-03-04         Poland        1.0
3540       2020-03-05         Poland        1.0
3665       2020-03-06         Poland        5.0
3870       2020-03-07         Poland        5.0
4086       2020-03-08         Poland       11.0
4333       2020-03-09         Poland       16.0
4594       2020-03-10         Poland       22.0
4800       2020-03-11         Poland       31.0
5007       2020-03-12         Poland       49.0
5287       2020-03-13         Poland       68.0
5449       2020-03-14         Poland      103.0
5695       2020-03-15         Poland      119.0
5943       2020-03-16         Poland      177.0
6210       2020-03-17         Poland      238.0
6493       2020-03-18         Poland      251.0
6769       2020-03-19         Poland      355.0
7063       2020-03-20         Poland      425.0
7359       2020-03-21         Poland      536.0
7735       2020-03-22         Poland      634.0
8033       2020-03-23         Poland      749.0
8331       2020-03-24         Poland      901.0
8633       2020-03-25         Poland     1051.0
8936       2020-03-26         Poland     1221.0
9243       2020-03-27         Poland     1389.0
9551       2020-03-28         Poland     1638.0
9862       2020-03-29         Poland     1862.0
10174      2020-03-30         Poland     2055.0
10487      2020-03-31         Poland     2311.0
10800      2020-04-01         Poland     2554.0
11114      2020-04-02         Poland     2946.0
11429      2020-04-03         Poland     3383.0
11744      2020-04-04         Poland     3627.0
12060      2020-04-05         Poland     4102.0
12379      2020-04-06         Poland     4413.0
12699      2020-04-07         Poland     4848.0
13019      2020-04-08         Poland     5205.0
13339      2020-04-09         Poland     5575.0
13659      2020-04-10         Poland     5955.0
13980      2020-04-11         Poland     6356.0
14301      2020-04-12         Poland     6674.0
14621      2020-04-13         Poland     6934.0
14941      2020-04-14         Poland     7202.0

In [29]:
countries_data_it

      ObservationDate Country/Region  Confirmed
480        2020-01-31          Italy        2.0
539        2020-02-01          Italy        2.0
608        2020-02-02          Italy        2.0
675        2020-02-03          Italy        2.0
743        2020-02-04          Italy        2.0
...               ...            ...        ...
13609      2020-04-10          Italy   147577.0
13930      2020-04-11          Italy   152271.0
14251      2020-04-12          Italy   156363.0
14571      2020-04-13          Italy   159516.0
14891      2020-04-14          Italy   162488.0

[75 rows x 3 columns]

In [46]:

italy_confirmed = countries_data_it.filter(['Confirmed'])
italy_confirmed.to_csv('italy_confirmed')

In [47]:
italy_confirmed_np  = italy_confirmed.to_numpy()[:-1,0]

In [48]:
italy_confirmed_np

array([2.00000e+00, 2.00000e+00, 2.00000e+00, 2.00000e+00, 2.00000e+00,
       2.00000e+00, 2.00000e+00, 3.00000e+00, 3.00000e+00, 3.00000e+00,
       3.00000e+00, 3.00000e+00, 3.00000e+00, 3.00000e+00, 3.00000e+00,
       3.00000e+00, 3.00000e+00, 3.00000e+00, 3.00000e+00, 3.00000e+00,
       3.00000e+00, 2.00000e+01, 6.20000e+01, 1.55000e+02, 2.29000e+02,
       3.22000e+02, 4.53000e+02, 6.55000e+02, 8.88000e+02, 1.12800e+03,
       1.69400e+03, 2.03600e+03, 2.50200e+03, 3.08900e+03, 3.85800e+03,
       4.63600e+03, 5.88300e+03, 7.37500e+03, 9.17200e+03, 1.01490e+04,
       1.24620e+04, 1.24620e+04, 1.76600e+04, 2.11570e+04, 2.47470e+04,
       2.79800e+04, 3.15060e+04, 3.57130e+04, 4.10350e+04, 4.70210e+04,
       5.35780e+04, 5.91380e+04, 6.39270e+04, 6.91760e+04, 7.43860e+04,
       8.05890e+04, 8.64980e+04, 9.24720e+04, 9.76890e+04, 1.01739e+05,
       1.05792e+05, 1.10574e+05, 1.15242e+05, 1.19827e+05, 1.24632e+05,
       1.28948e+05, 1.32547e+05, 1.35586e+05, 1.39422e+05, 1.43626e+05,
       1.47577e+05, 1.52271e+05, 1.56363e+05, 1.59516e+05])